<div class="container">
  <div class="row">
    <div class="col-sm-3">相册:<%= @photobook.bookname %></div>
    <div class="col-sm-3"><%= link_to "上传", "#",class: "btn btn-primary btn-sm", :data => {:toggle => "modal",:target=> ".uploadphotoModal"}%></div>
  </div>
  <%  if @photolist %>
      <%= render partial: 'photo/photolist', locals: {photolist: @photolist} %>
  <% else %>
      <div><h3>没有相片，上传相片</h3></div>
  <% end %>
</div>
<%= render partial:'photobook/uploadphotos',locals:{photobook: @photobook}%>
<%= render partial:'photobook/showphotos.js'%>